body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #222;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  background-color: #0070f3;
  padding: 10px 0;
  border-radius: 5px;
  position: relative;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #005bb5;
}

.navbar .search-container {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  background-color: #005bb5;
  border-radius: 5px;
  padding: 5px 10px;
}

.navbar .search-container input[type="text"] {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1em;
}

.navbar .search-container i {
  color: white;
  margin-right: 10px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.article {
  background-color: white;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
  height: auto;
  overflow: hidden;
}

.article.no-image {
  padding-top: 20px;
}

.article:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.article img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.no-image-placeholder {
  width: 100%;
  height: 150px;
  background-color: #e0e0e0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.article-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.article h2 {
  margin: 10px 0;
  font-size: 1.2em;
  color: #0070f3;
  text-transform: uppercase;
}

.article p {
  color: #555;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #f4f4f9;
  border-top: 1px solid #ddd;
}

.footer p {
  margin: 0;
  color: #555;
}

/* Scale the content to 80% */
.scalable-container {
  transform: scale(0.8); /* Scale the content to 80% */
  transform-origin: 0 0; /* Set the origin to the top-left corner */
}
